# direnv
.direnv

# Nix
result
result-*

# pre-commit
.pre-commit-config.yaml

# Rust
**/target

# VSCode
# We have an opinionated setup for VSCode, so we want to keep the settings in the repo.
!.vscode
!.vscode/settings.json
# Extension recommendations should be kept in the repo.
!.vscode/extensions.json
