/* Mermaid doesn't render differently for the themes, and its default styling
   only works well in the light themes, so we provide a lighter background for
   the dark mdbook themes. */
pre svg {
  background-color: rgba(255, 255, 255, 0.7);
  border: 3px solid rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}

/* Highlight target-ed links (i.e. URL fragment) */
a:target {
  border: 2px solid;
  border-radius: 8px;
  margin: -4px;
  padding: 2px;
}
html.coal a:target,
html.navy a:target,
html.ayu a:target { border-color: rgb(192, 255, 0); }
html.light a:target { border-color: rgb(128, 192, 0); }
html.rust a:target {
  border-color: rgb(0, 128, 0);
  background-color: rgba(255, 255, 255, 0.7);
}

/* The default 0.87 is too small and looks ugly when highlighted with :target. */
:root {
  --code-font-size: 0.9em;
}

.schema-content table {
  width: 100%;
}

/*
  - json-schema-for-humans creates a deep hierarchy.
  - mdbook style has increasingly smaller font sizes
  - the nesting isn't all that significant

  So it is more readable to have most of them in the same font size.
*/
.schema-content h2 {
  font-size: 2em !important;
}
.schema-content h3,
.schema-content h4,
.schema-content h5,
.schema-content h6 {
  font-size: 1.5em !important;
}
